 

#interface{
	
}

#questionContainer{
	/*border: 1px solid #F00;*/
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#equationContainer{
	/*border: 1px solid #0F0;*/
	font-size: 250%;
}
#equationContainer_hidden{
	display: none;
}

#btnContainer{
	/*border: 1px solid #00F;*/ 
}

#next{
	
}

.operatorGroup{
	margin-bottom: 10px;
}

.hidden{
	display: none;
}

.operator{
	margin: 2px;
	display: block;
}

.operator_small_1{
	margin: 4px;
	display: inline-block;
}
.subHeader {
	margin-bottom: 10px;
}

.centered {
/*
	display: flex;
  	justify-content: center;
*/

}

#btnContainer{
	display: inline-block;
    margin-left: auto;
    margin-right: auto 
}

.autoLeftSpacer{
	display: inline-block;
}

.operator_inactive{
	color: #cececc;
}
.operator_inactive:hover{
	color: #cececc;
	background-color: #e7e6e2;
	cursor: inherit;
}

.subHeader_inactive{ 
	color: #cececc;
}

.reduceBtn{

}
